.home_title {
    text-align: center;
    color: rgb(210, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.home-content {
    margin-top: 50px;
    height: 100%;
}

.black_list_span {
    color: red;
}

.home-description {
    font-size: 23px;
    width: 45%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.home-qualification {
    font-size: 23px;
    width: 45%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
