.login-content {
    margin-top: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.login-content div p label {
    width: 150px;
    text-align: start;
}

.login-content div p input {
    border-radius: 0px;
    border: 1px solid gray;
}

.login-content div p input:focus {
    outline: none;
}

