.configure-btn {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
    margin-top: 4px;
    width: 31px;
    height: 31px;
    background: rgb(238, 238, 238);
}

.settings-panel p label {
    width: 150px;
    color: rgb(142, 22, 22);
}

.settings-panel-input {
    width: 190px;
    border-radius: 3px;
    border: 1px solid rgb(64, 22, 22);
}

.cancel_button {
    border: 1px solid red;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background: rgba(255, 255, 255, 0)
}

.cancel_button:hover {
    background: red;
    color: white;
}

.user-page {
    margin-top: 50px;
    height: 100%;
    display: flex;
}

.user-image {
    border-radius: 100px;
    box-shadow: 5px 5px 5px;
}

.user-info {
    height: 100%;
    border: 1px solid black;
    width: 20%;
}

.user-image-label {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.user-info-name {
    color: rgb(142, 22, 22);
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.user-central-panel {
    width: 80%;
    border: 1px solid black;
    margin-left: -1px;
}

.description-btn {
    border: 1px solid rgb(142, 22, 22);
    border-radius: 11px;
    background: none;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(142, 22, 22);
}

.description-btn:hover {
    background: rgb(142, 22, 22);
    color: white;
    transition: 120ms;
}

.description-dialog {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 7px;
}

.description-dialog label {
    text-align: center;
    width: 100%;
}

.menu-row-btn {
    background: none;
    border: none;
    padding: 0px;
}

@media screen and (max-width: 900px) {
    .settings-panel {
        width: 50%;
    }
    .user-page {
        display: block;
    }
    .user-info {
        width: 100%;
        height: 60%;
    }
    .user-central-panel {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .user-page {
        display: block;
        width: 100%;
    }
    .user-info {
        width: 100%;
        height: 100%;
    }
    .user-central-panel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-height: 575px) {
    .user-page {
        display: block;
        width: 100%;
    }
    .user-info {
        width: 100%;
        height: 200%;
    }
    .user-central-panel {
        width: 100%;
        height: 200%;
        display: flex;
        justify-content: center;
    }
}
