.bar-section {
    width: 100%;
}

.bar-section-content {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
}

.section-title {
    width: 100%;
    background: rgb(0, 0, 0);
    color: rgb(216, 64, 64);
    text-align: center;
    border: 1px solid rgb(216, 64, 64);
}

.section-title:hover {
    background: rgb(216, 64, 64);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
}