.main {
    margin-top: 50px;
    height: 100%;
    display: flex;
    justify-content: items;
}

.users-dialog {
    width: 330px;
    height: 175px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 3px;
}

.label-field {
    text-align: center;
    border: 0px;
    outline: 0px;
}

.select-bar {
    display: flex;
    justify-content: space-between;
}

.users-dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 186px;
    width: 110px;
}

.user-dialog-btn {
    background: rgba(255, 255, 255, 0);
    transition: 120ms;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
}

.cancel-btn-div {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.user-dialog-btn:focus {
    background: rgb(150, 150, 150);
    color: white;
}

.user-dialog-btn:hover {
    background: rgb(150, 150, 150);
    color: white;
}

.users-select {
    border: 1px solid rgb(100, 100, 100);
}
